*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.contact-me{
    /* border: 2px solid red; */
    /* height: 40rem; */
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;

    padding-bottom: 2rem;

}

.me{
    color: aqua;
    padding-top: 3rem;
}

.email{
    border: 1px solid rgb(243, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;

    width: 20rem;

    background-color: rgb(50, 51, 51);

    padding: 0.5rem 2rem;
    border-radius: 5rem;

    cursor: pointer;

}
.email-content{
    margin-left: 1rem;
}
.email-color{
    color: rgb(9, 250, 170);
    margin-bottom: 0.3rem;
}



.social-media{
    border: 1px solid  rgb(243, 102, 102);
     display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    font-size: 0.9rem;
    width: 20rem;

    background-color: rgb(50, 51, 51);

    padding: 0.5rem 2rem;
    border-radius: 5rem;
    cursor: pointer;

}
.new-acc{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

/* .new-acc:hover{
    transform: scale(1.3rem);
} */
.new-acc a{
    background-color: transparent;
    color: rgb(230, 239, 246);
    /* background-color: rgb(46, 28, 241); */
    padding: 5px;
    border-radius: 0.5rem;

}

.new-acc a:hover{
    transform: scale(1.6);

}

.form{
    width: 15rem;
    /* border: 2px solid red; */
}

input{
    width: 15rem;
    height: 2rem;
    padding: 0.3rem 2rem;
}

input , textarea{
    border:1px solid ;
    background-color:rgba(102, 101, 100, 0.701);
    border-color: rgb(243, 102, 102);
    color: aliceblue;
    outline: none;
    padding: 0.3rem;
    border-radius: 5px;
    cursor:text;
}
#textarea{
    width: 15rem;
    height: 6rem;
}

form p{
    font-size: 0.7rem;
}

.submit{

    border-radius: 5rem;
    background-color: var(--green-color);
    color: black;
    border: none;
    border-style: none;

    cursor: pointer;

}

textarea{
    width: 11rem;
    height: 5rem;
}


/* @media screen and (max-width:768px){
        .contact-me{
        margin-top: 5rem;

        margin-bottom: 10rem;
    }

} */